<header class="header">

  <nav class="navbar nav-1">
     <section class="flex">
        <a href="home.html" class="logo"><i class="fas fa-house"></i>MyHome</a>

        <ul>
           <li><a href="#">post property<i class="fas fa-paper-plane"></i></a></li>
        </ul>
     </section>
  </nav>

  <nav class="navbar nav-2">
     <section class="flex">
        <div id="menu-btn" class="fas fa-bars"></div>

        <div class="menu">
           <ul>
              <li><a href="/announcement-list">Announcement<i class="fas fa-angle-down"></i></a>
                 
              </li>
              <li><a href="#">sell<i class="fas fa-angle-down"></i></a>
                 <ul>
                    <li><a href="#">post property</a></li>
                    <li><a href="#">dashboard</a></li>
                 </ul>
              </li>
              <li><a href="#">rent</a>
                 <ul>
                    <li><a href="#">house</a></li>
                    <li><a href="#">flat</a></li>
                    <li><a href="#">shop</a></li>
                 </ul>
              </li>
              <li><a href="#">help<i class="fas fa-angle-down"></i></a>
                 
              </li>
           </ul>
        </div>

        <ul>
           <li><a (click)="navigateToFavoriteList()">Favorite <i class="far fa-heart"></i></a></li>
           
              
         
        </ul>
     </section>
  </nav>

</header>