<p>details-command works!</p>
<br><br><br><br>
<br>
    <input type="button" value="Go back!" onclick="history.back()">
    <br>
<h3 style="margin-top: 50px;"> View Furniture Details</h3>
<div>
   
    <div>
        <label> <b> quantity: </b></label> {{c.quantity}}
    </div>
    <div>
        <label> <b> commandDate: </b></label> {{c.commandDate}}
    </div>
    <div>
        <label> <b> totalPrice: </b></label> {{c.totalPrice}}
    </div>
    <div>
        <label> <b> payementStatus: </b></label> {{c.payementStatus}}
    </div>
   
</div>
